* {
  text-decoration: none;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("images/hero banner_fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/*----- Navbar -----*/

li {
  list-style-type: none;
}

a {
  color: black;
}

.li-nav > a {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.li-nav > a:hover {
  color: white;
  background-color: #163D5C;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .5s ease-in-out;
}

nav {
  z-index: 4;
  position: sticky;
  width: 90vw;
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
}

ul {
  padding-inline-start: 0px;
}

nav > ul:nth-child(1) {
  display: flex;
}

nav > ul:nth-child(2) {
  display: flex;
  align-items: center;
}

/*----- Form -----*/

/*.container {
  margin-top: 100px;
  border-radius: 18px;
  background-color: rgba(180, 180, 210, .5);
  padding: 20px;
  max-width: 700px;
  display: flex;
  margin: 10% auto;
}

label {
  font-family: "Rubik", sans-serif;
  margin-left: 10px;
}

input[type=text], select, textarea {
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #163D5C;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #163D5C;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #163D5C;
  background-color: transparent;
  border: 3px solid #163D5C;
  transition: all .5s ease-in-out;
  font-weight: 800;
}

#submit {
  display: flex;
}*/

#main-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  height: 50vh;
}

.wrapper {
  width: 50%;
  text-align: justify;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: #163D5C;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  margin-top: 25px;
}

.button:hover {
  color: #163D5C;
  background-color: transparent;
  border: 3px solid #163D5C;
  transition: all .5s ease-in-out;
  font-weight: 800;
}

.transition-num > p {
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1em;
  max-width: 270px;
  text-align: center;
}

.transition-num {
  display: flex;
  flex-direction: column;
}

.transition-num > img:nth-child(1) {
  width: 200px;
  align-self: center;
  margin-bottom: 20px;
}

.icones {
  width: 35px;
  filter: invert(17%) sepia(9%) saturate(7132%) hue-rotate(175deg) brightness(97%) contrast(87%);
  padding: 0 8px;
  align-self: center;
}

footer {
  height: 100px;
}

footer > ul {
  display: flex;
  justify-content: center;
}

footer > ul {
  /*margin-top: 150px;*/
  display: flex;
}

.text-footer {
  color: #163D5C;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.icones:hover {
  opacity: .8;
  transition: all .5s ease-in-out;
  transform: translate(0, -10px);
}

/*----- Mobile -----*/

@media screen and (max-width: 700px) {
  /*----- Navbar -----*/
  nav {
    font-size: .8em;
    z-index: 4;
    position: sticky;
    width: 90vw;
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    margin-right: 20px;
  }

  ul {
    padding-inline-start: 0px;
  }

  nav > ul:nth-child(1) {
    display: flex;
  }

  nav > ul:nth-child(2) {
    display: flex;
    align-items: center;
  }
  /*----- Contenus -----*/
  body {
    height: 100vh;
    position: relative;
  }

  .wrapper {
    width: 90%;
  }

  .wrapper > p {
    padding: 20px 0;
  }

  #main-container {
    height: 70%;
  }
  /*----- Footer -----*/
  footer {
    height: 50px;
    display: flex;
    align-self: flex-end;
    position: absolute;
    bottom: 10px;
    margin-right: 20px;
  }

  .icones {
    width: 50px;
  }

  .text-footer {
    font-size: .6em;
    text-align: center;
    width: 100%;
    padding-right: 0px;
  }
}
