* {
  text-decoration: none;
  margin: 0;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("images/hero banner_fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*----- Navbar -----*/

li {
  list-style-type: none;
}

a {
  color: black;
}

li > a {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

li > a:hover {
  color: white;
  background-color: #163D5C;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: all .5s ease-in-out;
}

nav {
  position: fixed;
  width: 90vw;
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
}

ul {
  padding-inline-start: 0px;
}

nav > ul:nth-child(1) {
  display: flex;
}

nav > ul:nth-child(2) {
  display: flex;
  align-items: center;
}

/*----- Section 1 -----*/

#sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.sec1-left {
  width: 50%;
}

.sec1-right {
  width: 40%;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 6vw;
  color: transparent;
  -webkit-text-stroke: 3px #163D5C;
  line-height: 1.1em;
}

h2 span {
  background-color: #163D5C;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: -5px;
}

a > .button {
  display: flex;
  justify-content: center;
  width: 50px;
  margin-bottom: 40px;
  margin-top: 16px;
}

h2 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.sec1-left > p {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1em;
  max-width: 450px;
  text-align: justify;
  justify-content: center;
}

.button {
  background-color: #163D5C;
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 8px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

.button:hover {
  color: #163D5C;
  background-color: transparent;
  border: 3px solid #163D5C;
  transition: all .5s ease-in-out;
  font-weight: 800;
}

.transition-num > p {
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1em;
  max-width: 270px;
  text-align: center;

}

/*----- Section 2 -----*/

#sec2 {
  display: flex;
}

.sec2-left {
  width: 50vw;
}

.sec2-right {
  width: 50vw;
}

.sec2-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.num {
  grid-column: 2 / 3;
  justify-self: end;
  font-family: "Rubik", sans serif;
  font-size: 3em;
  align-self: center;
  border-bottom: 8px solid yellow;
}

.text {
  grid-column: 3 / 5;
  justify-self: start;
  align-self: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.num-a {
  grid-row: 1 / 2;
}

.text-a {
  grid-row: 1 / 2;
}

.num-b {
  grid-row: 2 / 3;
}

.text-b {
  grid-row: 2 / 3;
}

.num-c {
  grid-row: 3 / 4;
}

.text-c {
  grid-row: 3 / 4;
}

.num-d {
  grid-row: 4 / 5;
}

.text-d {
  grid-row: 4 / 5;
}

.num-e {
  grid-row: 5 / 6;
}

.text-e {
  grid-row: 5 / 6;
}
